<div class="container-fluid">
    <div class="row header-title">
        <div class="form-group row col-12 pt-3 pb-0">
            <h1 class="col-sm-8">Detail Employee Master</h1>
            <div class="input-group" class="col-sm-4 pr-0">
                <div class="text-right">
                    <button
                        *ngIf="this.statusAproval != 'WAITING APPROVAL 1' && this.statusAproval != 'WAITING APPROVAL 2' && this.filterEmployeeStatus != 'APPROVAL' && this.dataGm != 'DataHoGM'"
                        class="btn" mat-raised-button color="primary" (click)="konfirmasi()">Konfirmasi
                    </button>
                    <button
                        *ngIf="this.statusAproval == 'WAITING APPROVAL 2' && (this.flagApv == '6' || this.flagRev == '7')"
                        class="btn" mat-raised-button color="primary" (click)="konfirmasiApvTwo()">Konfirmasi
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <mat-card>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Jenis Employee*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-radio-group color="primary" name="jenisEmployee"
                                        formControlName="jenisEmployee">
                                        <mat-radio-button value="P" (click)="resetRadioButton()">Perorangan</mat-radio-button>&nbsp;
                                        <mat-radio-button #checkbox value="C" (click)="resetRadioButton()">Badan
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <mat-error
                                        *ngIf="radioJenisEmployee && form.controls.jenisEmployee.hasError('required')">
                                        Jenis Employee is <strong>checked</strong>
                                    </mat-error>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Employee No*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <input matInput name="employeeNo" formControlName="employeeNo"
                                            placeholder="XXXXXXXX">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>NPK:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <input matInput name="npk" formControlName="npk" placeholder="XXXXXXXX">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Nama*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Nama</mat-label>
                                        <input matInput oninput="this.value = this.value.toUpperCase()" name="namaEmployee" formControlName="namaEmployee"
                                            placeholder="Masukkan Nama" appAlfabetOnly>
                                        <mat-error *ngIf="form.controls.namaEmployee.hasError('required')">
                                            Nama Employee is <strong>required</strong>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="!form.controls.namaEmployee.hasError('required') && !form.controls.namaEmployee.valid">
                                            input <strong>invalid</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Jenis Dokumen*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>--Silahkan Pilih--</mat-label>
                                        <mat-select [(ngModel)]="filterJenisDoc" formControlName="filterJenisDoc" name="selectJenisDoc" (click)="dopdownReset()">
                                            <mat-option *ngFor="let selectJenisDoc of selectJenisDoc"
                                                [value]="selectJenisDoc.value">
                                                {{selectJenisDoc.view}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.controls.filterJenisDoc.hasError('required')">
                                            Jenis Dokumen is <strong>selected</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br *ngIf="!checkbox.checked">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Identitas</span>
                                </div>
                                <div class="col-sm-8" *ngIf="this.filterJenisDoc != '1' && this.filterJenisDoc != '2' && this.filterJenisDoc != '3' && this.filterJenisDoc != '4'">
                                    <mat-form-field appearance="standard">
                                        <input matInput [(ngModel)]="identitasAll" formControlName="idenAll" name="idenAll"
                                            placeholder="XXXXXXXX">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8" *ngIf="this.filterJenisDoc == '1'">
                                    <mat-form-field appearance="standard">
                                        <input matInput appOnlynumber [(ngModel)]="identitasAll" formControlName="identitas" name="identitas"
                                            placeholder="KTP">
                                        <mat-error
                                            *ngIf="!form.controls.identitas.hasError('required') && !form.controls.identitas.valid">
                                            input <strong>invalid</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8" *ngIf="this.filterJenisDoc == '2'">
                                    <mat-form-field appearance="standard">
                                        <input matInput oninput="this.value = this.value.toUpperCase()" [(ngModel)]="identitasAll" formControlName="KartuNama" name="KartuNama"
                                            placeholder="KARTU NAMA">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8" *ngIf="this.filterJenisDoc == '3'">
                                    <mat-form-field appearance="standard">
                                        <input matInput oninput="this.value = this.value.toUpperCase()" [(ngModel)]="identitasAll" formControlName="SuratPernyataanWilayah" name="SuratPernyataanWilayah"
                                            placeholder="SURAT PERNYATAAN WILAYAH">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8" *ngIf="this.filterJenisDoc == '4'">
                                    <mat-form-field appearance="standard">
                                        <input matInput oninput="this.value = this.value.toUpperCase()" [(ngModel)]="identitasAll" formControlName="SuratPernyataanDealer" name="SuratPernyataanDealer"
                                            placeholder="SURAT PERNYATAAN DEALER">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!checkbox.checked">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Jenis Kelamin*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-radio-group color="primary" formControlName="jenisKelamin" name="jenisKelamin"
                                        aria-label="Select an option">
                                        <mat-radio-button value="LAKI-LAKI">Laki-laki</mat-radio-button>&nbsp;
                                        <mat-radio-button value="PEREMPUAN">Perempuan
                                        </mat-radio-button>
                                        <mat-error
                                            *ngIf="RadioJenisKel && form.controls.jenisKelamin.hasError('required')">
                                            Jenis Kelamin is <strong>checked</strong>
                                        </mat-error>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br *ngIf="!checkbox.checked">
                    <div class="row" *ngIf="!checkbox.checked">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Tempat Lahir*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Tempat Lahir</mat-label>
                                        <input matInput oninput="this.value = this.value.toUpperCase()" formControlName="tempatLahir" name="tempatLahir"
                                            placeholder="Masukkan Tempat Lahir" appAlfabetOnly>
                                        <mat-error *ngIf="form.controls.tempatLahir.hasError('required')">
                                            Tempat Lahir is <strong>required</strong>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="!form.controls.tempatLahir.hasError('required') && !form.controls.tempatLahir.valid">
                                            input <strong>invalid</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!checkbox.checked">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Tanggal Lahir*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field color="primary" appearance="standard">
                                        <!-- <mat-label>MM/DD/YYYY</mat-label> -->
                                        <input matInput readonly formControlName="lahir" name="lahir" [matDatepicker]="picker2" (focus)="picker2.open()"
                                            (dateInput)="addEventAwal('input', $event)" placeholder="MM/DD/YYYY">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-error *ngIf="form.controls.lahir.hasError('required')">
                                            Tanggal Lahir is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!checkbox.checked">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Agama*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>--Silahkan Pilih--</mat-label>
                                        <mat-select formControlName="filterAgama" name="selectAgama">
                                            <mat-option *ngFor="let selectAgama of selectAgama"
                                                [value]="selectAgama.value">
                                                {{selectAgama.view}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.controls.filterAgama.hasError('required')">
                                            Agama is <strong>selected</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Employee Status:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>--Silahkan Pilih--</mat-label>
                                        <mat-select [(ngModel)]="filterEmployeeStatusModel" formControlName="filterEmployeeStatus" name="selectEmployeeStatus">
                                            <mat-option *ngFor="let selectEmployeeStatus of selectEmployeeStatus"
                                                [value]="selectEmployeeStatus.value">
                                                {{selectEmployeeStatus.view}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.controls.filterEmployeeStatus.hasError('required')">
                                            Employee Status is <strong>selected</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Kepemilikan NPWP*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-radio-group color="primary" formControlName="kepemilikanNpwp"
                                        name="kepemilikanNpwp" aria-label="Select an option">
                                        <mat-radio-button value="YA" (click)="toggle()">YA</mat-radio-button>&nbsp;
                                        <mat-radio-button #test value="TIDAK" (click)="toggle()">
                                            TIDAK
                                        </mat-radio-button>
                                        <mat-error
                                            *ngIf="RadioKepNPWP && form.controls.kepemilikanNpwp.hasError('required')">
                                            Kepemilikan NPWP is <strong>checked</strong>
                                        </mat-error>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" >
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>NPWP No:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>NPWP No</mat-label>
                                        <input formControlName="npwpNo" name="npwpNo" matInput appOnlynumber maxlength="20"
                                            placeholder="Masukkan No NPWP" (input)="reformat($event)" [(ngModel)]="formatNpwp"/>
                                        <mat-error
                                            *ngIf="!form.controls.npwpNo.hasError('required') && !form.controls.npwpNo.valid">
                                            input <strong>invalid</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>NPWP Type:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>--Silahkan Pilih--</mat-label>
                                        <mat-select formControlName="filterNpwpType" name="selectNpwpType">
                                            <mat-option *ngFor="let selectNpwpType of selectNpwpType"
                                                [value]="selectNpwpType.value">
                                                {{selectNpwpType.view}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.controls.filterNpwpType.hasError('required')">
                                            NPWP Type is <strong>selected</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>PKP Type:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>--Silahkan Pilih--</mat-label>
                                        <mat-select formControlName="filterPkpType" name="selectPkpType">
                                            <mat-option *ngFor="let selectPkpType of selectPkpType"
                                                [value]="selectPkpType.value">
                                                {{selectPkpType.view}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.controls.filterPkpType.hasError('required')">
                                            PKP Type is <strong>selected</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>HP No:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>HP No</mat-label>
                                        <input matInput formControlName="noHp" name="noHp" placeholder="Masukkan No HP" appOnlynumber>
                                        <mat-error
                                            *ngIf="!form.controls.noHp.hasError('required') && !form.controls.noHp.valid">
                                            input <strong>invalid</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Email:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field class="example-full-width" appearance="standard">
                                        <mat-label>Email</mat-label>
                                        <input type="text" matInput formControlName="Email" name="Email"
                                            placeholder="Ex. pat@example.com">
                                        <mat-error *ngIf="form.controls.Email.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="form.controls.Email.hasError('email')">
                                            Must be valid <strong>email</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-right">
                        <div class="col-md-6 text-right">
                            <button
                                [disabled]="this.differentCab == 'differentCab' || this.statusAproval == 'WAITING APPROVAL 1' || this.statusAproval == 'WAITING APPROVAL 2' || this.disableKonfirm == '0' || this.filterEmployeeStatus == 'APPROVAL' || this.dataGm == 'DataHoGM'"
                                mat-raised-button color="primary" class="button-save ps-4 pe-4"
                                type="submit">Save</button>&nbsp;
                            <button
                                [disabled]="this.differentCab == 'differentCab' || this.statusAproval == 'WAITING APPROVAL 1' || this.statusAproval == 'WAITING APPROVAL 2' || this.disableKonfirm == '0' || this.filterEmployeeStatus == 'APPROVAL' || this.dataGm == 'DataHoGM'"
                                mat-raised-button color="warn" class="button-reset ps-4 pe-4"
                                (click)="resetForm()">Reset</button>
                        </div>
                    </div>
                </form>
                <div class="row mt-5">
                    <div class="col-12">
                        <div class="title-list">
                            <span>Dokumen Upload</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="mat-elevation-z8">
                            <div [className]="showClass ? 'hide-overflow' : 'show-overflow'">
                                <table mat-table [dataSource]="dataSourceDokumenUp">

                                    <!-- Nama Dokumen Column -->
                                    <ng-container matColumnDef="nama">
                                        <th mat-header-cell *matHeaderCellDef> Nama Dokumen </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nama}} </td>
                                    </ng-container>

                                    <!-- Tanggal Terima Column -->
                                    <ng-container matColumnDef="tanggal">
                                        <th mat-header-cell *matHeaderCellDef> Tanggal Terima </th>
                                        <td mat-cell *matCellDef="let element"> {{element.tanggal}} </td>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="tanggal">
                                        <th mat-header-cell *matHeaderCellDef> Tanggal Terima </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-form-field color="primary" appearance="standard">
                                                <mat-label>MM/DD/YYYY</mat-label>
                                                <input matInput [matDatepicker]="picker2" [disabled]="this.statusAproval == 'WAITING APPROVAL 1' || this.statusAproval == 'WAITING APPROVAL 2' || this.disableKonfirm == '0'">
                                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                        {{element.tanggal}}
                                        </td>
                                    </ng-container> -->

                                    <!-- Aksi Column -->
                                    <ng-container matColumnDef="aksi">
                                        <th mat-header-cell *matHeaderCellDef> Aksi </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon
                                                *ngIf="this.differentCab != 'differentCab' && this.statusAproval != 'WAITING APPROVAL 1' && this.statusAproval != 'WAITING APPROVAL 2' && this.disableKonfirm != '0' && this.filterEmployeeStatus != 'APPROVAL' && this.dataGm != 'DataHoGM'"
                                                class="cursorIconEdit" (click)="openUploadDocument(element)">save
                                            </mat-icon>
                                            <mat-icon class="cursorIconView" (click)="getDokumen(element)">photo_album
                                            </mat-icon>
                                            {{element.aksi}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDokumenUp"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDokumenUp;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="title-list">
                            <span>Informasi Rekening</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="row justify-content-end">
                            <div class="col-md-4">
                                <mat-form-field appearance="standard">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Informasi Rekening"
                                        [disabled]="this.disableKonfirm == '0'"
                                        (keyup)="searchInformasiRekening($event)" autocomplete="off" #input>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 custom-label">
                                <button
                                    [disabled]="this.statusAproval == 'WAITING APPROVAL 1' || this.statusAproval == 'WAITING APPROVAL 2' || (!this.dataID && !this.getDataId) || this.disableKonfirm == '0' || this.filterEmployeeStatus == 'APPROVAL' || this.dataGm == 'DataHoGM'"
                                    class="btn aliignItem" mat-raised-button color="accent"
                                    class="button-find ps-4 pe-4" (click)="openTambahRekening()">
                                    <mat-icon>add</mat-icon>
                                    Tambah
                                </button>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <div [className]="showClass ? 'hide-overflow' : 'show-overflow'">
                                <table mat-table #sortCol2="matSort" [dataSource]="dataSourceInformasiRek" matSort>

                                    <!-- Bank Account Column -->
                                    <ng-container matColumnDef="bankAccount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by bank account"> Bank Account </th>
                                        <td mat-cell *matCellDef="let element"> {{element.bankAccount}} </td>
                                    </ng-container>

                                    <!-- Account No Column -->
                                    <ng-container matColumnDef="accountNo">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by Account No"> Account No </th>
                                        <td mat-cell *matCellDef="let element"> {{element.accountNo}} </td>
                                    </ng-container>

                                    <!-- Account Name Column -->
                                    <ng-container matColumnDef="accountName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by Account Name"> Account Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.accountName}} </td>
                                    </ng-container>

                                    <!-- Status Column -->
                                    <ng-container matColumnDef="accountStatus">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by status Rek"> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.accountStatus}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="flag" *matCellDef="let element">
                                        {{element.flag}}
                                    </ng-container>

                                    <!-- Detail Column -->
                                    <ng-container matColumnDef="detailRek">
                                        <th mat-header-cell *matHeaderCellDef
                                            sortActionDescription="Sort by detail Rek">
                                            <mat-label *ngIf="this.statusAproval == 'WAITING APPROVAL 2'">Approval
                                            </mat-label>
                                            <mat-label *ngIf="this.statusAproval != 'WAITING APPROVAL 2'">Detail
                                            </mat-label>
                                        </th>
                                        <td mat-cell *matCellDef="let element">{{element.accountId}}
                                            <button mat-icon-button class="btn btnNoBorder" color="primary"
                                                [disabled]="(this.statusAproval == 'WAITING APPROVAL 2' && (element.flag == '4' || element.flag == '6' || element.flag == '7')) || this.dataGm == 'DataHoGM'"
                                                (click)="openDetailInformasiRekening(element)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <!-- Aksi Column -->
                                    <ng-container matColumnDef="aksiRek">
                                        <th mat-header-cell *matHeaderCellDef> Aksi </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button
                                                *ngIf="this.differentCab != 'differentCab' && element.accountStatus != 'NEW' && element.accountStatus != 'REVISE' && this.statusAproval != 'WAITING APPROVAL 1' && this.statusAproval != 'WAITING APPROVAL 2' && this.filterEmployeeStatus != 'APPROVAL' && this.dataGm != 'DataHoGM'"
                                                [disabled]="element.flag == '9' || element.flag == '2' || element.flag == '6' || element.flag == '7' || this.incentiveSystem == '1'" class="btn" mat-raised-button color="warn"
                                                (click)="buttonAktifAndNonRek(element)">
                                                <mat-label *ngIf="element.accountStatus == 'AKTIF'">Non-aktifkan
                                                </mat-label>
                                                <mat-label *ngIf="element.accountStatus == 'NON-AKTIF'">Aktifkan
                                                </mat-label>
                                            </button> {{element.aksiRek}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsInformasiRek"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsInformasiRek;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell text-center fs-5 custom-nodata-ontable" colspan="8">No Data
                                            Available!</td>
                                    </tr>
                                </table>
                                <mat-paginator #MatPaginator2 [pageSizeOptions]="[5, 10, 20, 50, 100, 250]"
                                    showFirstLastButtons aria-label="Select page">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <div class="title-list">
                            <span>Mapping Informasi Pekerjaan, Dealer & Rekening</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="row justify-content-end">
                            <div class="col-md-4">
                                <mat-form-field appearance="standard">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Mapping Informasi Pekerjaan"
                                        [disabled]="this.disableKonfirm == '0'" (keyup)="applyFilter($event)"
                                        autocomplete="off" #input>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 custom-label">
                                <button
                                    [disabled]="this.statusAproval == 'WAITING APPROVAL 1' || this.statusAproval == 'WAITING APPROVAL 2' || (!this.dataID && !this.getDataId) || this.disableKonfirm == '0' || this.filterEmployeeStatus == 'APPROVAL' || this.dataGm == 'DataHoGM'"
                                    class="btn aliignItem" mat-raised-button color="accent"
                                    class="button-find ps-4 pe-4" (click)="openTambahPekerjaan()">
                                    <mat-icon>add</mat-icon>
                                    Tambah
                                </button>
                            </div>
                        </div>
                        <div class="mat-elevation-z8">
                            <div [className]="showClass ? 'hide-overflow' : 'show-overflow'">
                                <table mat-table #sortCol1="matSort" [dataSource]="dataSourceMapping" matSort>

                                    <!-- Kode Pekerjaan Column -->
                                    <ng-container matColumnDef="kodePekerjaan">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by kode pekerjaan"> Kode Pekerjaan </th>
                                        <td mat-cell *matCellDef="let element"> {{element.kodePekerjaan}} </td>
                                    </ng-container>

                                    <!-- Keterangan Pekerjaan Column -->
                                    <ng-container matColumnDef="keteranganPekerjaan">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by keterangan pekerjaan"> Keterangan Pekerjaan
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.keteranganPekerjaan}} </td>
                                    </ng-container>

                                    <!-- DLC Column -->
                                    <ng-container matColumnDef="dlc">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by dlc"> DLC </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dlc}} </td>
                                    </ng-container>

                                    <!-- Dealer Name Column -->
                                    <ng-container matColumnDef="dealerName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by dealer name"> Dealer Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dealerName}} </td>
                                    </ng-container>

                                    <!-- No Rekening Column -->
                                    <ng-container matColumnDef="noRekening">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by no rekening"> No Rekening </th>
                                        <td mat-cell *matCellDef="let element"> {{element.noRekening}} </td>
                                    </ng-container>

                                    <!-- Atas Nama Column -->
                                    <ng-container matColumnDef="atasNama">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by atas nama"> Atas Nama </th>
                                        <td mat-cell *matCellDef="let element"> {{element.atasNama}} </td>
                                    </ng-container>

                                    <!-- Bank Column -->
                                    <ng-container matColumnDef="bank">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by bank"> Bank </th>
                                        <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
                                    </ng-container>

                                    <!-- Status Column -->
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                                            sortActionDescription="Sort by status"> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                    </ng-container>

                                    <!-- Detail Column -->
                                    <ng-container matColumnDef="detail">
                                        <th mat-header-cell *matHeaderCellDef> Detail </th>
                                        <td mat-cell *matCellDef="let element">{{element.mapId}}
                                            <button mat-icon-button color="primary"
                                                [disabled]="this.dataGm == 'DataHoGM'"
                                                (click)="openEditDetailPekerjaan(element)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="flag" *matCellDef="let element">
                                        {{element.flag}}
                                    </ng-container>

                                    <!-- Aksi Column -->
                                    <ng-container matColumnDef="aksi">
                                        <th mat-header-cell *matHeaderCellDef> Aksi </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button
                                                *ngIf="this.differentCab != 'differentCab' && element.status != 'NEW' && element.status != 'REVISE' && this.statusAproval != 'WAITING APPROVAL 1' && this.statusAproval != 'WAITING APPROVAL 2' && this.filterEmployeeStatus != 'APPROVAL' && this.dataGm != 'DataHoGM'"
                                                [disabled]="element.flag == '12' || element.flag == '11' || element.flag == '1' || this.incentiveSystem == '1'" class="btn" mat-raised-button color="warn"
                                                (click)="buttonAktifAndNonMap(element)">
                                                <mat-label *ngIf="element.status == 'AKTIF'">Non-aktifkan</mat-label>
                                                <mat-label *ngIf="element.status == 'NON-AKTIF'">Aktifkan</mat-label>
                                            </button>
                                            &nbsp;
                                            <button
                                                *ngIf="this.differentCab != 'differentCab' && element.status != 'NEW' && element.status != 'REVISE' && this.statusAproval != 'WAITING APPROVAL 1' && this.statusAproval != 'WAITING APPROVAL 2' && this.filterEmployeeStatus != 'APPROVAL' && this.dataGm != 'DataHoGM'"
                                                [disabled]="this.incentiveSystem == '1' || element.flag == '12' || element.flag == '11' || element.flag == '1' || element.flag == '5'" class="btn" mat-raised-button color="primary"
                                                (click)="openMappingRek(element)">Mapping Rek</button>
                                            <!-- {{element.aksi}} -->
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMapping"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMapping;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell text-center fs-5 custom-nodata-ontable" colspan="8">No Data
                                            Available!</td>
                                    </tr>
                                </table>
                            </div>
                            <mat-paginator #MatPaginator1 [pageSizeOptions]="[5, 10, 20, 50, 100, 250]"
                                showFirstLastButtons aria-label="Select page">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
                <div class="row mt-5"
                    *ngIf="this.statusAproval == 'WAITING APPROVAL 1' || this.statusAproval == 'WAITING APPROVAL 2' || this.statusAproval == 'REVISE' || this.filterEmployeeStatus == 'APPROVAL' || this.filterEmployeeStatus == 'REVISE' || this.filterEmployeeStatus == 'AKTIF' || this.filterEmployeeStatus == 'NON AKTIF'">
                    <div class="col-12">
                        <div class="title-list">
                            <span>History Approval</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3"
                    *ngIf="this.statusAproval == 'WAITING APPROVAL 1' || this.statusAproval == 'WAITING APPROVAL 2' || this.statusAproval == 'REVISE' || this.filterEmployeeStatus == 'APPROVAL' || this.filterEmployeeStatus == 'REVISE' || this.filterEmployeeStatus == 'AKTIF' || this.filterEmployeeStatus == 'NON AKTIF'">
                    <div class="col-12">
                        <div class="mat-elevation-z8">
                            <div [className]="showClass ? 'hide-overflow' : 'show-overflow'">
                                <table mat-table [dataSource]="dataSourceApproval">

                                    <!-- Approval Column -->
                                    <ng-container matColumnDef="approval">
                                        <th mat-header-cell *matHeaderCellDef> Approval </th>
                                        <td mat-cell *matCellDef="let element"> {{element.approval}} </td>
                                    </ng-container>

                                    <!-- PIC Column -->
                                    <ng-container matColumnDef="pic">
                                        <th mat-header-cell *matHeaderCellDef> PIC </th>
                                        <td mat-cell *matCellDef="let element"> {{element.pic}} </td>
                                    </ng-container>

                                    <!-- Tanggal Approval Column -->
                                    <ng-container matColumnDef="tanggalApproval">
                                        <th mat-header-cell *matHeaderCellDef> Tanggal Approval </th>
                                        <td mat-cell *matCellDef="let element"> {{element.tanggalApproval}} </td>
                                    </ng-container>

                                    <!-- Status Approval Column -->
                                    <ng-container matColumnDef="statusApproval">
                                        <th mat-header-cell *matHeaderCellDef> Status Approval </th>
                                        <td mat-cell *matCellDef="let element"> {{element.statusApproval}} </td>
                                    </ng-container>

                                    <!-- Detail Column -->
                                    <ng-container matColumnDef="detail">
                                        <th mat-header-cell *matHeaderCellDef> Detail </th>
                                        <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
                                    </ng-container>

                                    <!-- Catatan Column -->
                                    <ng-container matColumnDef="catatan">
                                        <th mat-header-cell *matHeaderCellDef> Catatan </th>
                                        <td mat-cell *matCellDef="let element"> {{element.catatan}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsApproval"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsApproval;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell text-center fs-5 custom-nodata-ontable" colspan="8">No Data
                                            Available!</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5" *ngIf="this.statusAproval == 'WAITING APPROVAL 1'">
                    <div class="col-12">
                        <div class="title-list">
                            <span>Approval</span>
                        </div>
                    </div>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmitApprovalOne()">
                    <div class="row" *ngIf="this.statusAproval == 'WAITING APPROVAL 1'">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Action*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>--Silahkan Pilih--</mat-label>
                                        <mat-select formControlName="filterStatusApv" name="selectStatusApv" [(ngModel)]="filterStatusApv" (click)="clickListAproval()">
                                            <mat-option *ngFor="let selectStatusApv of selectStatusApv"
                                                [value]="selectStatusApv.value">
                                                {{selectStatusApv.view}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.controls.filterStatusApv.hasError('required')">
                                            Action Approval is <strong>selected</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="this.statusAproval == 'WAITING APPROVAL 1' && filterStatusApv == 'REVISE' ">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Alasan Revise*:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>--Silahkan Pilih--</mat-label>
                                        <mat-select name="alasanRevise" formControlName="alasanRevise">
                                            <mat-select-filter [displayMember]="'reviseDesc'" [array]="listRevise"
                                                (filteredReturn)="filteredRevise =$event">
                                            </mat-select-filter>
                                            <mat-option *ngFor="let item of filteredRevise; let i = index"
                                                [value]="item.reviseDesc">
                                                {{item.reviseDesc}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.controls.alasanRevise.hasError('required')">
                                            Alasan Revise is <strong>selected</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="this.statusAproval == 'WAITING APPROVAL 1'">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 custom-label">
                                    <span>Catatan:</span>
                                </div>
                                <div class="col-sm-8">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Catatan</mat-label>
                                        <textarea name="catatan" oninput="this.value = this.value.toUpperCase()" formControlName="catatan" matInput
                                            placeholder="Catatan..."></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-right" *ngIf="this.statusAproval == 'WAITING APPROVAL 1'">
                        <div class="col-md-6 text-right">
                            <button class="btn" mat-raised-button color="primary" type="submit">Submit</button>
                        </div>
                    </div>
                    <!-- <div class="row justify-content-right" *ngIf="this.statusAproval == 'WAITING APPROVAL 1'">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-1 text-center custom-label">
                            <button class="btn" mat-raised-button color="primary" type="submit">Submit</button>
                        </div>
                    </div> -->
                </form>
            </mat-card>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#f7ad00" type="square-jelly-box" [fullScreen]="true">
    <p style="color: black"> Loading... </p>
</ngx-spinner>